<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" id="dashboard-toolbar">
    <mat-toolbar-row class="justify-content-center">
        <mat-form-field class="autoComplete">
            <input matInput placeholder="Search Foods" aria-label="Search Foods" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <Label>Common</Label>
                <mat-option style="height:60px;" (onSelectionChange)="openDialog(state)" *ngFor="let state of commonfoods" class="autoOption">
                    <img class="example-option-img" aria-hidden [src]="state.photo.thumb">
                    <span>{{state.food_name}}</span>

                </mat-option>
                <Label>Branded</Label>
                <mat-option style="height:60px;" *ngFor="let state of brandedfoods" class="autoOption">
                    <img class="example-option-img" aria-hidden [src]="state.photo.thumb">
                    <label style="line-height: 25px;">
                        <span style="
                        display: block;
                        line-height: 4px;
                    ">{{state.food_name}}</span>
                    <span>{{state.brand_name}}</span></label>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-button (click)="logout(true)"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">power_settings_new</mat-icon></button>
    </mat-toolbar-row>

    <mat-toolbar-row class="justify-content-center">
        <button mat-button (click)="goLeft(true)"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">keyboard_arrow_left</mat-icon></button>
        <span class="mb-2 text-center" style="width:300px;">{{selectedCurrentDate}}</span>
        <span class="example-spacer"></span>
        <button mat-button (click)="goLeft(false)">
        <mat-icon class="example-icon" aria-hidden="false"  aria-label="Example user verified icon">keyboard_arrow_right</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 px-0 bg-grey">
        <mat-list>
            <mat-list-item style="height:auto;">
                <div class="col-12">
                    <div class="row justify-content-center fab-container">
                        <div class="col-4 d-flex justify-content-center"><button mat-fab>{{userData.weight_kg}} <span class="unit">Kg</span></button></div>
                        <div class="col-4 d-flex justify-content-center"><img class="user-image" src="/assets/user.png" /></div>
                        <div class="col-4 d-flex justify-content-center"><button mat-fab>{{userData.height_cm}} <span class="unit">cm</span></button></div>
                        <label class="col-12 text-center mt-4">
                                {{userData.first_name}} {{userData.last_name}} 
                        </label>
                    </div>
                </div>

            </mat-list-item>
            <mat-divider style="height:2px;"></mat-divider>
            <mat-list-item style="height:auto;" class="stats-Container py-4">
                <div class="row w-100 mx-0">
                    <div class="w-100 col-12 d-flex justify-content-between">
                        <label><b>{{userStats.total_cal}} cal</b>  <span>Consumed</span></label>
                        <label><b>{{userStats.daily_kcal_limit}} cal</b>  <span>Daily Goal</span></label>
                    </div>
                    <div class="col-12">
                        <mat-progress-bar [color]="color" [mode]="mode" [value]="userStats.total_cal" [bufferValue]="userStats.daily_kcal_limit"></mat-progress-bar>
                    </div>
                    <div class="col-12 py-1">
                        <div class="row">
                            <div class="col-3" *ngFor="let meal of mealTypeStat | keyvalue">
                                <label> <b>{{meal.value}}</b>
                                <span>{{meal.key}}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 col-12 px-0">
        <mat-list>
            <mat-list-item class="py-1 stats-Container" *ngFor="let state of userFoodData" style="height:auto">
                <img class="user-image" aria-hidden [src]="state.photo.thumb">
                <label>
                        <span>{{state.food_name}}</span><span>{{state.serving_qty}}  {{state.serving_unit}} ({{state.serving_weight_grams}})</span>
                </label>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>

<button style="position: absolute;right:40px;bottom:20px;" mat-fab> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">add</mat-icon> </button>